@font-face {
  font-family: "Merriweather";
  src: url("../components/font/Merriweather/Merriweather-Regular.ttf");
}

* {
  font-family: "CustomFont", Merriweather, serif;
}

body {
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
}

.form,
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 70vh;
  margin: auto auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.input-container {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.input {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:hover,
.input:focus {
  border-color: #3498db;
  box-shadow: 0 2px 4px rgba(52, 152, 219, 0.3);
  outline: none; /* Remove the default focus outline */
}
.login-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  width: 25vh;
}

.login-button:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}
.top-bar {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #cfcfc4;
  height: 40px;
}

.top-bar a {
  margin-right: 30px;
  color: #000000;
  text-decoration: none;
  margin-left: -20px;
}

.top-bar img {
  width: 40px;
  height: 30px;
  margin-left: 20px;
  border-right: 2px solid #000000;
  padding-right: 10px;
}

nav {
  text-align: center;
  top: 0;
  width: 100%;
  background: white;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 24px 32px;
}

nav a:hover {
  border-bottom: solid 2px #000000;
  color: #000000;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 50px;
  background-color: #cfcfc4;
  margin-top: 5px;
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.image {
  margin-top: -20px;
  padding: 0;
  overflow: hidden;
}

.tagline {
  text-align: center;
}

.shop-button {
  margin-top: 30px;
}

.shop-button button {
  height: 40px;
  width: 150px;
  background-color: black;
  color: white;
  border-radius: 30px;
  border: none;
  font-weight: bold;
}
.shop-button button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer {
  background-color: #cfcfc4;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}
.footer-content {
  max-width: max-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  padding-bottom: 0;
  margin-bottom: 0;
}
