 .product-detail {
    text-align: center;
    width: 100%;
    max-width: 1600px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-name {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 18px;
    color: #e57373;
    margin: 10px 0;
  }
  
  .product-quantity {
    font-size: 16px;
  }
  
  .product-sizes select {
    width: 100px;
    padding: 10px;
  }
  
.add-to-cart-button {
    background-color: #ff5733;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 10px; /* Add a top margin to separate the button */
    margin-left: auto; /* Move the button to the right */
  }
  
  .add-to-cart-button:hover {
    background-color: #ff0000;
    transform: scale(1.05);
  }
  
  .add-to-cart-button:focus {
    outline: none;
  }
  
  .add-to-cart-button:active {
    background-color: #cc421f;
  }