.profile {
  padding-left: 20px;
  margin: 0;
}

.profile span {
  font-size: 18px;
}

.username {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 0;
}

.username h3 {
  margin: 20px;
}

.tab {
  overflow: hidden;
}

.tab button {
  background-color: #cfcfc4;
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  width: 50%;
  border-radius: 10px;
  gap: 5px;
  font-size: 18px;
}

.tab button:hover {
  background-color: #ddd;
}

.tabcontent {
  display: none;
  margin-left: 25px;
}

.tabcontent.active {
  display: block;
}

h2 {
  margin-left: 40px;
  margin-bottom: 0px;
}
.cart-container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

/* Style each cart item */
.cart-item {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

.item-details {
  flex: 1;
}

.item-details h3 {
  font-size: 18px;
  margin: 0;
}

.item-details p {
  font-size: 16px;
  margin: 5px 0;
}

.quantity {
  display: flex;
  align-items: center;
}

.product-image {
  width: 250px;
}

.product-details {
  width: 500px;
}